body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("backgroundimage.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 20px;
}
.navbar-brand{
    font-family: Broadway;
    font-size: large;
    font-weight: bold;
    font-style: italic;
    Color : darkslateblue;
}