<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>manage Customers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
    <div><h2>Manage customers</h2></div>
    <div class="m-2">
        <a class="h3" th:href="@{/customers/new}">Add New Customer</a>
    </div>
    <div th:if="${#messages}">
        [[${message}]]
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Delivery</th>
                <th>Street</th>
                <th>City</th>
                <th>Province</th>
                <th>Code</th>
                <th>Phone</th>
                <th>Role</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="customer: ${listCustomers}">
                <tr>
                    <td th:text="${customer.id}"></td>
                    <td th:text="${customer.email}"></td>
                    <td th:text="${customer.firstName}"></td>
                    <td th:text="${customer.lastName}"></td>
                    <td th:text="${customer.delivery}"></td>
                    <td th:text="${customer.address?.street}"></td>
                    <td th:text="${customer.address?.city}"></td>
                    <td th:text="${customer.address?.province}"></td>
                    <td th:text="${customer.address?.zip}"></td>
                    <td>
                        <th:block th:each="contact: ${customer.contactsList}">
                            <span th:text="${contact.number} + ' '"></span>
                        </th:block>
                    </td>
                    <td>[[${customer.role}]]</td>

                    <td>
                        <a class="h4 m-3" th:href="@{'/customers/edit/' + ${customer.id}}">Edit</a>
                        <a class="h4" th:href="@{'/customers/delete/' + ${customer.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>