<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <style>

    </style>
</head>
<body>
<div class="container-fluid text-center">
    <h2>An Error Occurred</h2>
    <p>Sorry, something went wrong. Please try again or contact support.</p>
    <a th:href="@{/admin_login}" class="btn btn-primary">Back to Login</a>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>