<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<nav class ="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/menu_interface}">Food Factory</a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/customers/new}" class="btn btn-outline-primary me-2">Register</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin_login}" class="btn btn-outline-primary me-2">Login</a>
                </li>
            </ul>
        </div>

    </div>
</nav>

<p class="text-lg-start">Food Factory</p>
<img th:src="@{/backgroundimage.jpeg}" alt="bg-img" style="height: 100vh; width: 100%; object-fit: cover">


<footer class="text-center py-3 bg-light">
    <p>Food Factory &copy; 2025</p>
</footer>
</body>
</html>