<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Food Home Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

<nav class ="navbar navbar-expand-lg navbar-dark bg-dark">


    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/menu_interface}">Food Factory</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/customer_menu}">MENU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/menu}">ORDER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/menu}">CONTACT US</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a th:href="@{/register}" class="btn btn-outline-primary me-2">Register</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/login}" class="btn btn-outline-primary me-2">Login</a>
                </li>
            </ul>
        </div>
        <div class="cart-icon" data-bs-toggle="modal" data-bs-target="#cartModal">
            <span class="cart-count" id="cartCount">0</span>
        </div>
    </div>
</nav>

<p class="text-lg-start">Food Factory</p>
<img th:src="@{/backgroundimage.jpeg}" alt="bg-img" style="height: 100vh; width: 100%; object-fit: cover">


<footer class="text-center py-3 bg-light">
    <p>Food Factory &copy; 2025</p>
</footer>
</body>
</html>